/* COLOUR SCHEME
 * Sequential Black: rgb(2, 3, 4);
 * Ruby Tuesday: (84, 31, 20);
 * Reclining Nude II: rbg(147, 129, 114);
 * Nylon Stockings: rgb(204, 158, 97);
 * Pit Pony: rgb(98, 98, 102);
 */

 html {
  position: relative;
min-height: 98%;  
 }
 
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

.blankspace {
	padding-top: 20px;
}

.jumbotron {
	background: url('assets/img/missinaibi_rain2.jpg') stretch;
/* or if you want no repeat just stretch 
background:  url("pathtoimage/image.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	/*background-image: url('assets/img/missinaibi_rain2.jpg');
	background-position: left 50% bottom -300px;
	display: flex;
	align-itmes: center;
	background-size: cover;
	justify-content: flex-end;
	
	color: #FFF;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	
	padding-top: 20px;
	padding-bottom: 80px;*/
}

.header {
	background-color: #3D9970;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 80%;  
  
  height: 32px;
  background-color: #FFF;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}