/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html {
  position: relative;
  min-height: 100%;
  
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.blankspace {
	padding-top: 20px;
}

.header {
	background-color: #3D9970;
}

body {
  margin-bottom: 3em;
}

.jumbotron {
	background-color: #F5F5F5;
}

.jumbotron img {
	width: 256px;
	height: 256px;
}

.jumbotron h1
{
	font-family: 'Roboto', sans-serif;
}

.jumbotron p
{
	font-family: 'Open Sans', sans-serif;
}

h2, h3 {
    font-family:'Roboto', sans-serif;
}

h4, h5, p, a {
	font-family: 'Open Sans', sans-serif;
}

.medimages {
	width: 300px;
	height: 300px;
	padding-bottom: 30px;
}

.pseudovcenter {
	padding-top: 0.85em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: #DCDCDC;
}

footer .col-sm-8 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

footer ul {
	list-style: none;
}

footer img {
	top: 50%;
	position: absolute;
	margin: 0;
	transform: translate(0%, 15%);
	
	width: 32px;
	height: 32px;
}